.EDButtons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.EDButtons > button {
  padding: 10px 25px;
}
.EditBtn {
  background-color: rgb(62, 189, 62);
  color: white;
  cursor: pointer;
}
.DltBtn {
  color: white;
  background-color: red;
  cursor: pointer;
}
